*{
  box-sizing: border-box;
}
body{
  background-color: teal;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  margin:0;
}
.container {
  background-color: white;
  width:800px;
  max-width: 80%;
  border-radius:5px;
  padding: 10px;
  box-shadow:0 0 10px 2px;
}

.choice-container { 
  background-color: lightblue;
}